.attendance-container {
    max-width: 100%;
    background-color: #F2F2F2;
    margin: 0 auto;
    padding: 20px;
    height: 770px;
}

.date-navigation {
    text-align: center;
    margin: 30px 0;
}

.nav-button {
    text-decoration: none;
    padding: 5px 10px;
    background-color: #fff;
    color: #061ffd;
    border-radius: 5px;
}

h2 {
    margin: 0;
    display: inline-block;
    margin: 20px;
}

.attendance-table {
    border-collapse: collapse;
    width: 100%;
}

.attendance-table th,
.attendance-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.attendance-table th {
    background-color: #f2f2f2;
}

attendance-table th:not(:first-child),
.attendance-table td:not(:first-child) {
    border-left: none;
}

.attendance-table tr:last-child th,
.attendance-table tr:last-child td {
    border-bottom: none;
}