.header {
    background: #fff;
}

.header__inner {
    margin: 0 auto;
    padding: 10px 5px;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    margin-left: 40px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 32px;
}

.header-utilities nav {
    width: 25%;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.header-nav__link {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.header-nav__button {
    border: none;
    background: transparent;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 40px;
    padding: 0;
}

.footer {
    text-align: center;
    font-weight: bold;
}