.stamping__message {
    margin-bottom: 20px;
}

.message__container {
    background-color: #4dbd51;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.message-item {
    color: #020000fd;
    font-weight: bold;
}

.attendance__content {
    margin: 0 auto;
    background-color: #F2F2F2;
    height: 770px;
}

.attendance__heading {
    padding-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.attendance__panel {
    margin: 0 auto 80px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.attendance__button {
    width: 48%;
    border-style: none;
    text-align: center;
    margin: 15px 0;

}

.attendance__button-submit {
    width: 100%;
    height: 200px;
    border: none;
    border-radius: 3px;
    background: #FFFFFF;
    color: #000;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.disabled-button {
    opacity: 0.5;
    cursor: not-allowed;
}